.form-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
  color: #333;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  margin: 10px 0 5px;
  font-weight: 600;
  font-size: 14px;
  color: #555;
}

.form-container input {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.sign-btn {
  margin-top: 20px;
  padding: 12px;
  background-color: rgb(200, 69, 69);
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.form-container button:hover {
  background-color: rgb(214, 44, 44);
}

.form-container p {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

/* Mobile  */
@media (max-width: 500px) {
  .form-container {
    margin: 30px 15px;
    padding: 25px;
  }

  .form-container input,
  .form-container button {
    font-size: 14px;
    padding: 10px;
  }

  .form-container h2 {
    font-size: 20px;
  }
}
.form-container p {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #5e5e5e;
}

.form-container p a {
  color: rgb(200, 69, 69);
  text-decoration: none;
  font-weight: 600;
}

.form-container p a:hover {
  text-decoration: underline;
  color: rgb(214, 44, 44);
}
