body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding-top: 80px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  position: fixed;
  color: rgb(28, 23, 23);
  background-color: white;
  padding: 20px 0px;
  border-bottom: 0.5px solid rgb(154, 154, 154);
  z-index: 1000;
}

.logo img {
  padding-left: 6vh;
  width: 160px;
  height: auto;
  display: block;
  padding-bottom: 1vh;
}

#shoppingcart {
  width: 30px;
  margin-bottom: 5px;
}

.navbar .center-nav {
  flex: 2;
  text-align: center;
}

.navbar .center-nav a {
  margin: 0 15px;
  color: #333;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.2s;
}

.center-nav a:hover {
  color: #dd2413;
}

.navbar .right-nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  padding-right: 50px;
  min-width: 300px;
}

.right-nav img {
  width: 13vh;
  height: auto;
}

.right-nav button {
  background: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px 16px;
  border: none;
}

.primary-btn {
  flex-grow: 1;
  padding: 14px;
  background: rgb(221, 36, 19);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.8;
  text-decoration: none;
}

.error-message {
  color: red;
}

.user-info {
  display: flex;
  flex-direction: column;
  text-align: right;
  line-height: 1.2;
}
.navbar a {
  text-decoration: none;
  color: black;
  padding-left: 5px;
}
