body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.categorie {
  width: 200px;
  padding: 20px;
  height: 100vh;
  background-color: #ffffff;
  border-right: 0.5px solid rgb(154, 154, 154);
}

.categorie h3 {
  margin-bottom: 0;
}

.categorie ul {
  list-style: none;
  padding: 10px;
}

.categorie ul li {
  margin: 2px 0;
}

.subcategorie {
  margin: 10px;
}

.main {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: rgb(28, 23, 23);
  padding: 20px 0px;
  border-bottom: 0.5px solid rgb(154, 154, 154);
}

.logo img {
  padding-left: 6vh;
  width: 180px;
  height: auto;
}

.right-nav img {
  width: 13vh;
  height: auto;
}

#shoppingcart {
  width: 30px;
  margin-bottom: 5px;
}

.navbar .center-nav {
  flex: 2;
  text-align: right;
  font-weight: 10;
}

.navbar .center-nav a {
  margin: 0 15px;
  color: rgb(37, 37, 37);
  font-weight: 600;
  font-size: 17px;
  text-decoration: none;
}

.navbar .right-nav {
  flex: 1;
  text-align: right;
  padding-right: 50px;
}

.content {
  padding: 20px;
  overflow-y: auto;
}

.right-nav button {
  background: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px 16px;
  border: none;
}

.products {
  display: grid;
  gap: 20px;
  margin-top: 10px;
}

.product-card {
  background-color: #ffffff;
  width: 250px;
  height: 330px;
  margin: 10px;
  border-radius: 10px;
  text-align: left;
}

.product-card img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.product-card h3 {
  font-size: 16px;
  padding-left: 17px;
}

.product-card p {
  color: #555;
  margin-bottom: 10px;
  padding-left: 17px;
}
.product-card h2 {
  color: #ababab;
  font-size: 16px;
  padding-left: 17px;
}
