.categorie {
  width: 200px;
  padding: 20px;
  height: 100vh;
  background-color: #ffffff;
  border-right: 0.5px solid rgb(154, 154, 154);
}

.categorie h3 {
  margin-bottom: 0;
}

.categorie ul {
  list-style: none;
  padding: 10px;
}

.categorie ul li {
  margin: 2px 0;
}

.subcategorie {
  margin: 10px;
}

.main {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
}

.content {
  padding: 20px;
  width: 100%;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}

.product-card {
  background-color: #ffffff;
  width: 250px;
  height: 330px;
  margin: 10px;
  border-radius: 10px;
  text-align: left;
}

.product-card img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.product-card a {
  text-decoration: none;
  color: inherit;
  display: block;
}
.product-card h3 {
  font-size: 16px;
  padding-left: 17px;
}

.product-card p {
  color: #555;
  margin-bottom: 10px;
  padding-left: 17px;
}
.product-card h2 {
  color: #ababab;
  font-size: 16px;
  padding-left: 17px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.image-section {
  background: white;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #e4e4e4;
}

.main-image {
  width: 100%;
  height: 450px;
  background: #ddd;
  border-radius: 6px;
  margin-bottom: 15px;
  background-size: cover;
  background-position: center;
}

.images-row {
  display: flex;
  gap: 10px;
}

.images {
  width: 80px;
  height: 80px;
  background: #ccc;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: 2px solid transparent;
}

.images:hover {
  border-color: #ce3216;
}

.details {
  background: white;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #e4e4e4;
}

.brand {
  color: #7b7b7b;
  font-size: 14px;
  margin-bottom: 4px;
}

h1 {
  margin: 0 0 10px 0;
  font-size: 28px;
  font-weight: 600;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.in-stock {
  color: #24a746;
  font-weight: bold;
  margin-left: 10px;
}
.out-stock {
  color: #f02121;
  font-weight: bold;
  margin-left: 10px;
}

.dropdown {
  margin-top: 20px;
}

select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  margin-top: 5px;
}

.quantity {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity input {
  width: 60px;
  padding: 8px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}
