.categorie {
  width: 200px;
  padding: 20px;
  height: 100vh;
  background-color: #ffffff;
  border-right: 0.5px solid rgb(154, 154, 154);
}

.categorie h3 {
  margin-bottom: 0;
}

.categorie ul {
  list-style: none;
  padding: 10px;
}

.categorie ul li {
  margin: 2px 0;
}

.subcategorie {
  margin: 10px;
}

.main {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
}

.content {
  padding: 20px;
  overflow-y: auto;
}

.products {
  display: grid;
  gap: 20px;
  margin-top: 10px;
}

.product-card {
  background-color: #ffffff;
  width: 250px;
  height: 330px;
  margin: 10px;
  border-radius: 10px;
  text-align: left;
}

.product-card img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.product-card h3 {
  font-size: 16px;
  padding-left: 17px;
}

.product-card p {
  color: #555;
  margin-bottom: 10px;
  padding-left: 17px;
}
.product-card h2 {
  color: #ababab;
  font-size: 16px;
  padding-left: 17px;
}
