body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.categorie {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  height: 100vh;
}

.categorie h3 {
  margin-top: 0;
}

.categorie ul {
  list-style: none;
  padding: 0;
}

.categorie ul li {
  margin: 10px 0;
}
.subcategorie {
  margin: 10px;
}

.main {
  display: flex;
  flex-direction: row;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: rgb(28, 23, 23);
  padding: 20px 0px;
  margin-bottom: 50px;
}

.logo img {
  padding-left: 10px;
  width: 180px;
  height: auto;
}

.navbar .center-nav {
  flex: 2;
  text-align: right;
  font-weight: 10;
}

.navbar .center-nav a {
  margin: 0 15px;
  color: rgb(37, 37, 37);
  font-weight: 600;
  font-size: 17px;
  text-decoration: none;
}

.navbar .right-nav {
  flex: 1;
  text-align: right;
  padding-right: 50px;
}

.content {
  padding: 20px;
  overflow-y: auto;
}

.right-nav button {
  background: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.btn {
  margin-left: 10px;
  color: #000000;
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}
.products {
  display: grid;
  gap: 20px;
  margin-top: 20px;
}

.product-card {
  background-color: #fff;
  padding: 5px;
  text-align: center;
}

.product-card img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-card h3 {
  margin: 10px 0 5px;
  font-size: 16px;
}

.product-card p {
  color: #555;
  margin-bottom: 10px;
}

.right-nav img {
  width: 13vh;
  height: auto;
}

#shoppingcart {
  width: 30px;
  margin-bottom: 5px;
}
